.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
    'head head head'
    'nav new menu';
  grid-template-rows: 75px 1fr 1fr;
  grid-template-columns: 2fr 10fr 1fr;
}
